html,body {
    background: #393e41;
    color: #f6f7eb;
}

h1,h2 {
    margin:0;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        color: #aaf;
    }
}

.blog-title {
    a { color: white; }
}

.blog-body {
    a { text-decoration: underline; }
}

.blog-head {
    display: flex;
    align-items: flex-start;
    
    @media only screen and (min-width: 600px) {
        min-height: 11rem;
    }

    h1 {
        border-left: none;
        @media only screen and (min-width: 600px) {
            border-left: 2px solid white;
            margin: 0 0 0 1rem;
            padding: 1rem 0 1rem 1rem;
        }
    }

    .date {
        display: none;
        @media only screen and (min-width: 600px) {
            display: inherit;
            width: 25px;
            transform: rotate(90deg);
            font-family: 'Oswald';
            font-weight: 400;
            letter-spacing: 0.21rem;
            margin-top: 0.4rem;
        }
    }
}


section {
    padding: 0 10rem;

    @media only screen and (max-width: 600px) {
        padding: 0;
    }

}

// -----------------------------------------------------------------------------
//     - Code and pre -
// -----------------------------------------------------------------------------
pre {
    overflow: auto;
}

code {
    background: #2b303b;
    border: 1px solid #825f5f;
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    display: inline-block;
}

pre > code {
    background: #2b303b;
    border: none;
    margin: 0;
    padding: 0;
    display: inherit;
}

.note-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    
    li:nth-child(odd) {
        background: #2b303b;
    }

    li {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
    }

    a, small { display: flex; }

    a {
        justify-content: flex-start;
        flex: 1;
    }

    small {
        justify-content: flex-end;
    }
}

// -----------------------------------------------------------------------------
//     - Page -
// -----------------------------------------------------------------------------
.header {
    @media only screen and (min-width: 600px) {
        display: flex;
    }

    a { text-decoration: none; }

    ul {
        list-style-type: none;
        font-size: 0.8rem;
        border-left: 2px solid white;
        margin: 3rem 0 0 1rem;
        padding: 0 0 0 1rem;

        li {
            margin: 0.5rem 0;
            padding: 0;
        }
    }
}
