body {
    font-family: 'Open Sans';
    font-size: 1.2rem;
}

h1 {
    font-size: 8.2rem;
}

h1,h2 {
    font-family: 'Open Sans';
    // font-family: 'Comfortaa';
    // font-family: 'Cabin';
    // font-weight: 100;
}

pre {
    padding: 1rem;
}

pre > code {
    font-family: hack;
}

