{% extends 'base.html' %}

{% block title %}{{ section.title }}{% endblock title %}
{% block content %}
<section class="header">
    <h1 class="blog-title">
        Togglesite
    </h1>
    <ul>
        <li><a href="https://github.com/togglebyte/" target="_blank">Github</a></li>
        <li><a href="https://discord.gg/qtyDMat" target="_blank">Discord</a></li>
        <li><a href="https://www.twitch.tv/togglebit/" target="_blank">Twitch</a></li>
    </ul>
</section>

<!-- <section> -->
<!--     <a href="/useful/">Useful bits</a> | --> 
<!--     <a href="/links/">Links</a> --> 
<!-- </section> -->

<section>
    <ul class="note-list">
    {% set posts = get_section(path="posts/_index.md") %}
    {% for page in posts.pages %}
        <li>
            <a href="{{ page.path|safe }}">{{ page.title }}</a>
            <small>{{ page.date }}</small>
        </li>
    {% endfor %}
    </ul>
</section>

{% endblock content %}
