{% extends 'base.html' %}

{% block content %}
<section>

    <a class="link-box" href="https://gafferongames.com/categories/building-a-game-network-protocol/" target="_blank">
        Gaffer on games
        <div>Game networking</div>
    </a>

    <a class="link-box" href="https://craftinginterpreters.com/contents.html" target="_blank">
        Crafting interpreters
        <div>Book on writing a compiler. Free to read online.</div>
    </a>

    <a class="link-box" href="https://www.redblobgames.com/" target="_blank">
        Red Blob Games
        <div>Various path finding algorithms and other useful things</div>
    </a>

    <a class="link-box" href="https://learnopengl.com/" target="_blank">
        Learn OpenGL
        <div>Good introduction to OpenGL</div>
    </a>

</section>

{% endblock content %}
