{% extends 'base.html' %}

{% block content %}
<section class="header">
    <h1 class="blog-title">
        <a href="/"> Togglesite </a>
    </h1>
    <ul>
        <li><a href="https://github.com/togglebyte/" target="_blank">Github</a></li>
        <li><a href="https://discord.gg/qtyDMat" target="_blank">Discord</a></li>
        <li><a href="https://www.twitch.tv/togglebit/" target="_blank">Twitch</a></li>
    </ul>
</section>

<section>

    <div class="link-box">
        <a href="#">
            woff
        </a>
        <desc>Waffles are cool</desc>
        <span>Person</span>
    </div>

    <div class="link-box">
        <a href="#">
            woff
        </a>
        <desc>Waffles are cool</desc>
        <span>Person</span>
    </div>
</section>

{% endblock content %}
