{% extends 'base.html' %}

{% block content %}
<section>

<ul>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Darkest Dungeon">Darkest Dungeon</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Balatro">Balatro</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Remnant: From the Ashes">Remnant: From the Ashes</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=ZERO Sievert">ZERO Sievert</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Core Keeper">Core Keeper</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Stardeus">Stardeus</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Gravity Ace">Gravity Ace</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Lethal Company">Lethal Company</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Outer Wilds">Outer Wilds</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=The Textorcist">The Textorcist</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=No Man's Sky">No Man's Sky</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=The Captain">The Captain</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Duskers">Duskers</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Terraria">Terraria</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=PICO PARK">PICO PARK</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Deus Ex: Mankind Divided">Deus Ex: Mankind Divided</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Super Auto Pets">Super Auto Pets</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Path of Exile">Path of Exile</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Deep Rock Galactic">Deep Rock Galactic</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Raft">Raft</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Borderlands 3">Borderlands 3</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Tiny Tina's Wonderlands">Tiny Tina's Wonderlands</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Torchlight II">Torchlight II</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Killing Floor">Killing Floor</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Cyberpunk 2077">Cyberpunk 2077</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Starbound">Starbound</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Beneath a Steel Sky">Beneath a Steel Sky (1994)  Complimentary</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Kingdom Two Crowns">Kingdom Two Crowns</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Hero's Hour">Hero's Hour</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Heroes of Hammerwatch">Heroes of Hammerwatch</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Left 4 Dead 2">Left 4 Dead 2</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Wasteland 2: Director's Cut">Wasteland 2: Director's Cut</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Stardew Valley">Stardew Valley</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Infinite Black">Infinite Black</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Borderlands 2">Borderlands 2</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Halcyon 6: Starbase Commander">Halcyon 6: Starbase Commander</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Stellaris">Stellaris</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Sanctum 2">Sanctum 2</a></li>
    <li><a target="_blank" href="https://howlongtobeat.com/steam?q=Portal 2">Portal 2</a></li>
</ul>


</section>

{% endblock content %}
