{% extends 'base.html' %}

{% block title %}{{ section.title }}{% endblock title %}
{% block content %}
<section class="header">
    <h1 class="blog-title">
        {{ section.title }}
    </h1>
    <ul>
        <li><a href="https://github.com/togglebyte/" target="_blank">Github</a></li>
        <li><a href="https://discord.gg/qtyDMat" target="_blank">Discord</a></li>
        <li><a href="https://www.twitch.tv/togglebit/" target="_blank">Twitch</a></li>
    </ul>
</section>

<section>
    <small>Stream notes</small>

    {{ section.content|safe }}

    <ul class="note-list">
        {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink|safe }}">{{ page.title }}</a>
            <small>{{ page.date }}</small>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock content %}
